<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Kaleidoscope</title>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <script src="/static/js/main.js"></script>
</head>
<body>

<div id="header">
    <h1>This is the Kaleidoscope!</h1>
    <h2>Click couple times on cells and calm down your nerves! ;)</h2>
    <div id="auto_animation">
        <p id="auto_animation_p">Too lazy? Click on button -> </p>
        <button id="auto_animation_btn" onclick="autoAnimation(setColor, 750)">Auto animation</button>
    </div>
</div>

<div id="content">
    <table id="table" onclick="setColor()">
        <tr>
            <td id="1"></td>
            <td id="2"></td>
            <td id="5"></td>
            <td id="6"></td>
            <td id="9"></td>
            <td id="10"></td>
        </tr>
        <tr>
            <td id="3"></td>
            <td id="4"></td>
            <td id="7"></td>
            <td id="8"></td>
            <td id="11"></td>
            <td id="12"></td>
        </tr>
        <tr>
            <td id="13"></td>
            <td id="14"></td>
            <td></td>
            <td></td>
            <td id="13_2"></td>
            <td id="14_2"></td>
        </tr>
        <tr>
            <td id="15"></td>
            <td id="16"></td>
            <td></td>
            <td></td>
            <td id="15_2"></td>
            <td id="16_2"></td>
        </tr>
        <tr>
            <td id="9_2"></td>
            <td id="10_2"></td>
            <td id="5_2"></td>
            <td id="6_2"></td>
            <td id="1_2"></td>
            <td id="2_2"></td>
        </tr>
        <tr>
            <td id="11_2"></td>
            <td id="12_2"></td>
            <td id="7_2"></td>
            <td id="8_2"></td>
            <td id="3_2"></td>
            <td id="4_2"></td>
        </tr>
    </table>
</div>

</body>
</html>