<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Kaleidoscope</title>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <script src="/static/js/main.js"></script>
</head>
<body>

<div id="header">
    <h1>This is the Kaleidoscope!</h1>
    <h2>Click couple times on cells and calm down your nerves! ;)</h2>
    <div id="auto_animation">
        <p id="auto_animation_p">Too lazy? Click on button -> </p>
        <button id="auto_animation_btn" onclick="autoAnimation(setColor, 750)">Auto animation</button>
    </div>
</div>

<div id="content">
    <table id="table" onclick="setColor()">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

</body>
</html>